
.white{
    color: white;
}
.large{
   width: 100%;
   border-radius: 8px;
}
.fa-download{
    padding: 0 5px;
}
/* --------------------------------------- */
.navbar{
    height: 80px;
}
/* ------------------------------------------ */
.jumbotron-main,.about-section{
    background-color: #66CDAA;
}
.profile-picture{
    width: 200px;
}

.star-line-white .fas, .star-line-white .far{
    color: white;
}

.star-line-black .fas, .star-line-black .far{
    color: black;
}

.download-button{
    border:1px solid white;
    background-color: #66CDAA;
    padding:10 20px;
    
    margin:10px;
}




